*{
    margin: 0;
    padding:0;
}
body,html{
    height: 100%;
    width: 100%;
    color: white;
    background-color: #000;
}
main{
    height:100%;
    width:100%;
    background: linear-gradient(black,transparent);
    padding-top: 40px;

}
section{
    height: 97%;
    width: 400px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    
    overflow: auto;}
section::-webkit-scrollbar{
    display: none;
}
.all-reels{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.reel .bottom{
    
    padding: 30px 20px;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.468));
    position: absolute;
    bottom: 0;
    width:100%;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.bottom .user img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom h3{
    padding: 2px 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
.bottom .user button{
    padding: 3px 6px;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.144);
    color: white;
}
.right{
    position:absolute;
    bottom: 10%;
    right: 10px;
    /* transform: translateX(100%); */
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: transparent;
    
    
}
.right i{
    font-size: 25px;
    font-weight: 250px;
}
.right h6{
    font-size: 15px;
    font-weight: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.right h4{
    cursor: pointer;
}
.love{
    color: red;
}
.love1{
    color: white;
}