*{
    margin: 0;
    padding:0;
}
body,html{
    height: 100%;
    width: 100%;
}
.elem{
    height:100px;
    width: 65%;
    background-color: lightblue;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 10px;
    border: 2px solid black;
}
.elem button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.elem h1{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}