*{
    margin: 0;
    padding:0;
}
body,html{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: black;
}
h2{
    padding: 50px ;
    font-size: 3rem;
    color: white;
    
}
.key{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 200px;
    width: 600px;
    background-color: blueviolet;
    white-space: nowrap;;
}